[submodule "introduction/materials/libbpf-bootstrap"]
	path = introduction/materials/libbpf-bootstrap
	url = https://github.com/libbpf/libbpf-bootstrap
[submodule "live_forensics/materials/drgn"]
	path = live_forensics/materials/drgn
	url = https://github.com/osandov/drgn
[submodule "memory_forensics/materials/BPFVol3"]
	path = memory_forensics/materials/BPFVol3
	url = https://github.com/vobst/BPFVol3
